* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

body {
  background: #f4f6f8;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;
  background: #111;
  color: white;
}

.logo {
  font-size: 22px;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.nav-btn {
  text-decoration: none;
  padding: 10px 15px;
  background: #333;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #555;
}

.admin {
  background: #ff9800;
}

/* HOME */
.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-card {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* PAGE */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
  background: white;
  padding: 35px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* BUTTONS */
.primary-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ff9800;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.danger-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #e53935;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
